rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /assets/{assetId} {
      allow read, write: if true;
    }
    match /agents/{agentId} {
      allow read, write: if true;
    }
    match /transactions/{transactionId} {
      allow read, write: if true;
    }
    match /handovers/{handoverId} {
      allow read, write: if true;
    }
    match /deviceTypes/{typeId} {
      allow read, write: if true;
    }
    match /shift_releases/{releaseId} {
      allow read, write: if true;
    }
  }
}
